<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
</head>
<body>
    <% if (expenseCount > 0) { %>
        <h1>Expense Record</h1>
        <h3>You have <%= expenseCount %> records.</h3>
    <% } else { %>
        <h2>You have not added any expenses yet.</h2>
    <% } %>
</body>
</html>